.container{
    display: grid;
    height: 500px;
    grid-template-columns: auto auto;
    gap: 10px;
    background-color: wheat;
    padding: 20px;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    grid-column: 1/3;
}.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    grid-column: 1;
}.box3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    grid-column: 2;
}.box4{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    grid-column: 1/3;

}